# build/output directories
/build/

# Netbeans project stuff
/nbproject

# Eclipse project stuff
/.settings
/.project
/.pydevproject

# VSCode
/.vscode

# Editors
*.orig
*.bak
*.backup
*.swp

# GDB
.gdb_history

# old/deprecated directories (can be removed later, they are not used anymore)
/Debug
/Release
/RelWithDebInfo
/Testing
/Build
/Documentation/output_snippets/
/Documentation/html/
/build-tinyxml2/
/builddir
